@charset "UTF-8" ;


*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo-header: #002F52;
    --cor-listras: #326589;
    --cor-de-fundo:#ebecee ;


   

}

body{
    background-color: var(--cor-de-fundo);
}


h1{
   background-color:  white;
}

.cabecalho{
    
}

