@charset "UTF-8" ;





@import url("styles/header.css");
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/TOPICOS.CSS);
@import url(styles/contato.css);
@import url(styles/footer.css);

*{
    margin: 0;
    padding: 0;
}

:root{
  
    --cor-de-fundo:#ebecee ;
    --branco: #ffffff;
    --azul: #326589;
    --laranja: #EB9B00;
    --azul:#002f52;

  --fonte-principal: "poppins" ;

   

}

body{
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
   
}



