


.conteiner-footer{
    background-color: var(--branco);
    border-top: 1px #002f52 solid;
    padding: 2em;    
 
}
.paragrafo__footer{
    
    border-top: 1px #002f52 solid;
    padding: 2em;
    color: #002f52;
    font-size: 16px;
    font-weight: 600;
    font-family: 'poppins' sans-serif;
  
}

.lista__rodape{
    display: none;
}





@media only screen and (min-width: 1024px){

    .lista__rodape{
        display: block;
    }
    
.conteiner-footer{
    display: flex;
    justify-content: space-around;
}


.lista-rodape__item{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.lista-rodape__link{
    color: black;
    text-decoration: none;
    margin-left: 1em;
}

.sub-titulo-footer{
    font-size: 2em;
    font-weight: 500;
}






}

/*Fim do media query 1024px*/







