.cabecalho__menu-hambuguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 15px;
}

.conteiner{
   display: flex;
align-items: center;



    
   

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    position: relative;

}


.container__imagem{

padding-bottom: 2px;

    

}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    margin: 5px 0px 0px 5px;
    width: 60vw;
    
}

.container__botao:checked~.lista-menu{
    display: block;
    
}

.lista-menu__links{
    text-decoration: none;
    
}

.lista-menu__titulo, .lista-menu__item {
   padding: 1em;
   background-color: var(--branco);
  
   
}

.categoria-header{
    color: #EB9B00;
    font-weight: 700;
    
}

.lista-menu__link{

    background: linear-gradient(97.57deg, #002f52 35.49%, #326589 165.37%);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    background-clip: text;
    text-transform: uppercase;

   
}


.container__botao{
    display: none;
}


.conteiner__titulo{
    display: none;
}

.opcoes{
    display: none;
}




.opcoes{
    display: none;
}





/*Começo media query*/


@media only screen and (min-width: 1024px ) 


{



.cabecalho__menu-hambuguer{
    display: none;
}
.conteiner__titulo {
font-family: var(--fonte-secundaria);

display: contents;
  
  
  }

  .Conteiner__titulo--negrito{
   font-size: 20px;
    font-weight: 700;
 
  }
  


  .container__imagem {

height: 50px;
 width: 30px ;
 background-position: center;

    
  }

 

  .conteiner__titulo .Conteiner__titulo--negrito {
    position: relative;
     bottom: 18px;

  }

  .textos-nedia-header{
display: flex;
  }

  .opcoes{
    display: flex;
    padding-top: 0.9em;
    

  }

  .opcoes__item{

  
  padding: 1em;
  text-transform: uppercase;
      
      
    }




.opcoes__links{
    text-decoration: none;
    color: #000000;

}

.opcoes__links:hover{
    color: var(--branco);
    background-color: #002f52;
    border: 17px solid #002f52;
   border-radius: 2px;
    
}

.container__imagem-transparente {
    display: none;
   
}


.lista-menu:checked~.listamenu__links{
    display: block;
    width: auto;
   

}


.opcoes__botao{
    display: none;
}



.opcoes{
    margin-right: 5em ;
    margin-top: 4px;
    
}

.image-buy-and-user{
  padding-right: 9em;

}

.image-svg{
    padding-left: 6em;
}


.buy{
    padding-right: 2em;
    
    }
    
    .conteiner__texto{
        display: none;
    }


}


/*Fim media 1024px*/

.conteiner__texto{
    display: none;
}

@media  only screen and (min-width: 1728px) {

  
    .conteiner__link{
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;

    }

.conteiner__texto{
    display: block;
  color: #000000;
  padding-bottom: 1em;
}



.Conteiner__titulo--negrito{
    margin-left: 1em;
    
   
}




}